__pycache__
backup
logs
.vscode
.git
nohup.out

# *.sh
# *.cmd
# *.ipynb
*.zip
*.log
*~*
# *tmp*
# *test*
*.old*

# ==============================

/*
!/.gitignore
!/README.md
!/requirements.txt
!/setup.py
!/TODO.md
!/VERSION

# src
!/src
src/scripts
src/*.egg-info

# data
