# *.sh
*.cmd
*.zip
*.ipynb
*.log
_*
!__init__.py
*tmp*
*test*
*old*

__pycache__
logs
.vscode
# .gitignore
.git
nohup.out

# ==============================

!/.gitignore
!/README.md
!/requirements.txt
!/src
!/utils

# src
src/scripts
!src/model/_test_model.py
!src/data/_test_data.py

# data
