__pycache__
.vscode
.git
.DS_Store
nohup.out

*backup*/
*trash*/
*log*/
*tmp*/
old/
local/
# *archive

# *.sh
# *.cmd
# *.ipynb
*.zip
*.7z
*.log
# *test*
~*
*~
*~.*
*.old*
*.local*
*.egg-info

# ==============================

/*
!/.gitignore
!/dependence.drawio.png
!/pyproject.toml
!/README.md
!/requirements_all.txt
!/requirements.txt
!/setup.py
!/TODO.md
!/VERSION

# src
!/src

